/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* contour */
/* relief */
/* ombre */
:root {
  font-weight: 400;
  color-scheme: light dark;
  color: hsla(0, 0%, 100%, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 18px;
}

h1 {
  font-size: 2em;
  letter-spacing: 3px;
}
@media screen and (min-width: 1050px) {
  h1 {
    font-size: 3em;
    letter-spacing: 5px;
  }
}

hthrough {
  font-size: calc(2 * pow(1.5, through * 1 - 1) * 1em);
  letter-spacing: calc(max(4 - through * 1, 1) * 1px);
}
@media screen and (min-width: 1050px) {
  hthrough {
    font-size: calc(3 * pow(1.5, through * 1 - 1) * 1em);
    letter-spacing: calc(max(6 - through * 1, 1) * 1px);
  }
}

h6 {
  font-size: 15.1875em;
  letter-spacing: 1px;
}
@media screen and (min-width: 1050px) {
  h6 {
    font-size: 22.78125em;
    letter-spacing: 1px;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: hsl(231, 47%, 17%);
  background-image: radial-gradient(circle, hsl(231, 40%, 25%) 0%, hsl(231, 47%, 17%) 50%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

header {
  margin: 20px;
}
header .header {
  display: flex;
  max-width: 800px;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  border: 5.5px solid #73778c;
  border-radius: 15px;
  padding: 15px;
  margin: 0 auto;
}
header .header .logo {
  display: flex;
  align-items: center;
  margin: auto 30px;
}
@media screen and (min-width: 1050px) {
  header .header .logo {
    margin: auto 80px;
  }
}
header .header .logo img {
  width: 25vw;
  min-width: 100px;
  max-width: 200px;
}
header .header .score {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  background-color: #fff;
  color: hsl(240, 9%, 35%);
  border-radius: 15px;
  width: 63px;
  height: 63px;
}
@media screen and (min-width: 1050px) {
  header .header .score {
    width: 100px;
    height: 100px;
  }
}
header .header .score > span {
  margin-bottom: 10px;
  font-size: 0.7em;
}
@media screen and (min-width: 1050px) {
  header .header .score > span {
    font-size: 0.8em;
  }
}
header .header .score > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
header .header .score > div div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
header .header .score > div div:first-child {
  border-right: 1px solid #000;
}
header .header .score > div div label {
  font-size: 0.7em;
}
@media screen and (min-width: 1050px) {
  header .header .score > div div label {
    font-size: 0.8em;
  }
}
header .header .score > div div input {
  display: none;
}
header .header .score > div div span {
  font-size: 1.7em;
}
@media screen and (min-width: 1050px) {
  header .header .score > div div span {
    font-size: 2.8em;
  }
}

main {
  display: inline;
}

div.app {
  flex: 1;
}

section.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.home .choice {
  margin: 50px 0;
}
section.home .choice .triangle {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto;
}
section.home .choice .triangle > img {
  width: 280px;
  height: 210px;
}
@media screen and (min-width: 1050px) {
  section.home .choice .triangle > img {
    width: 393px;
    height: 318px;
  }
}
section.home .choice .image-at-point {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 4px 6px #000;
  padding: 1.8rem;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
@media screen and (min-width: 1050px) {
  section.home .choice .image-at-point {
    width: 80px;
    height: 80px;
  }
}
section.home .choice .image-at-point div {
  background: hsl(208, 100%, 97%);
  border-radius: 100%;
  box-shadow: inset 2px 4px 6px hsl(0, 0%, 0%);
}
section.home .choice .image-at-point div:hover {
  background: radial-gradient(hsl(0, 0%, 94%) 20%, hsl(66, 100%, 50%));
  border-radius: 100%;
  box-shadow: inset 2px 4px 6px hsl(47, 24%, 34%), 2px 4px 6px hsl(0, 1%, 45%);
}
section.home .choice .image-at-point div:hover img {
  fill: green;
}
section.home .choice .image-at-point div img {
  margin: 15px;
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 1050px) {
  section.home .choice .image-at-point div img {
    width: 80px;
    height: 80px;
  }
}
section.home .choice .image-at-point.point-1 {
  top: -40px;
  left: -25px;
  background: linear-gradient(180deg, hsl(230, 91%, 65%), hsl(230, 76%, 26%));
}
section.home .choice .image-at-point.point-2 {
  top: -40px;
  right: -25px;
  background: linear-gradient(180deg, hsl(350, 91%, 65%), hsl(350, 76%, 26%));
}
section.home .choice .image-at-point.point-3 {
  bottom: -30px;
  left: calc(50% - 60px);
  background: linear-gradient(180deg, hsl(40, 91%, 65%), hsl(40, 76%, 26%));
}
@media screen and (min-width: 1050px) {
  section.home .choice .image-at-point.point-3 {
    left: calc(50% - 75px);
  }
}
section.home .rules {
  margin: 50px 0;
}/*# sourceMappingURL=style.css.map */