// Styles
html {
  font-size: $base-font-size;
}

@each $level in 1 through 6 {
  h#{$level} {
    font-size: calculate-font-size-mobil($level);
    letter-spacing: calculate-letter-spacing-mobil($level);
    @include gd-screen-min {
      font-size: calculate-font-size($level);
      letter-spacing: calculate-letter-spacing($level);
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $base-background;
  background-image: radial-gradient(circle, hsl($color_p, 40%, 25%) 0%, $base-background 50%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

header {
  margin: 20px;

  .header {
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    border: 5.5px solid #73778c;
    border-radius: 15px;
    padding: 15px;
    margin: 0 auto;
    .logo {
      display: flex;
      align-items: center;
      margin: auto 30px;
      @include gd-screen-min {
        margin: auto 80px;
      }
      img {
        width: 25vw;
        min-width: 100px;
        max-width: 200px;
      }
    }
    .score {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      padding: 15px;
      background-color: #fff;
      color: hsl(240, 9%, 35%);
      border-radius: 15px;
      width: 63px;
      height: 63px;
      @include gd-screen-min {
        width: 100px;
        height: 100px;
      }
      > span {
        margin-bottom: 10px;
        font-size: 0.7em;
        @include gd-screen-min {
          font-size: 0.8em;
        }
      }
      & > div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        div {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
          padding: 5px;

          &:first-child {
            border-right: 1px solid #000;
          }
          label {
            font-size: 0.7em;
            @include gd-screen-min {
              font-size: 0.8em;
            }
          }
          input {
            display: none;
          }
          span {
            font-size: 1.7em;
            @include gd-screen-min {
              font-size: 2.8em;
            }
          }
        }
      }
    }
  }
}

main {
  display: inline;
}
