div.app {
    flex: 1;
}

section {
    &.home {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .choice {
            margin: 50px 0;
            .triangle {
                position: relative;
                width: fit-content;
                margin: 20px auto;
                & > img {
                    width: 280px;
                    height: 210px;
                    @include gd-screen-min {
                        width: 393px;
                        height: 318px;
                    }
                }
            }

            .image-at-point {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: inset 2px 4px 6px #000;
                padding: 1.8rem;
                border-radius: 100%;
                width: 45px;
                height: 45px;
                @include gd-screen-min {
                    width: 80px;
                    height: 80px;
                }
                cursor: pointer;
                div {
                    background: hsl(208, 100%, 97%);
                    border-radius: 100%;
                    box-shadow: inset 2px 4px 6px hsl(0, 0%, 0%);
                    &:hover {
                        background: radial-gradient(hsl(0, 0%, 94%) 20%, hsl(66, 100%, 50%));
                        border-radius: 100%;
                        box-shadow:
                            inset 2px 4px 6px hsl(47, 24%, 34%),
                            2px 4px 6px hsl(0, 1%, 45%);
                        img {
                            fill: green;
                        }
                    }

                    img {
                        margin: 15px;
                        width: 50px;
                        height: 50px;
                        @include gd-screen-min {
                            width: 80px;
                            height: 80px;
                        }
                    }
                }
                &.point-1 {
                    top: -40px;
                    left: -25px;
                    background: linear-gradient(180deg, hsl(230, 91%, 65%), hsl(230, 76%, 26%));
                }

                &.point-2 {
                    top: -40px;
                    right: -25px;
                    background: linear-gradient(180deg, hsl(350, 91%, 65%), hsl(350, 76%, 26%));
                }

                &.point-3 {
                    bottom: -30px;
                    left: calc(50% - 60px);
                    background: linear-gradient(180deg, hsl(40, 91%, 65%), hsl(40, 76%, 26%));
                    @include gd-screen-min {
                        left: calc(50% - 75px);
                    }
                }
            }
        }
        .rules {
            margin: 50px 0;
        }
    }
}
