div.app {
    flex: 1;
}

section {
    &.home {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .image-at-point {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow:
                inset 4px 6px 6px hsl(0deg 0% 0% / 50%),
                inset -4px -6px 6px hsl(0deg 0% 0% / 50%),
                inset 4px -6px 6px hsl(0deg 0% 0% / 50%),
                inset -4px 6px 6px hsl(0deg 0% 0% / 50%);

            padding: $padding;
            border-radius: 100%;
            width: $size_point;
            height: $size_point;
            transition: position 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
            @include gd-screen-min {
                width: $size_point_screen;
                height: $size_point_screen;
                padding: $padding_screen;
            }
            cursor: pointer;
            div {
                background: hsl(208, 100%, 97%);
                border-radius: 100%;
                box-shadow: inset 2px 4px 6px hsl(0, 0%, 0%);
                img {
                    margin: 15px;
                    width: $size_point;
                    height: $size_point;
                    @include gd-screen-min {
                        width: $size_point_screen;
                        height: $size_point_screen;
                    }
                }
            }
            &.point-1 {
                background: linear-gradient(180deg, hsl(230, 91%, 65%), hsl(230, 76%, 26%));
            }

            &.point-2 {
                background: linear-gradient(180deg, hsl(350, 91%, 65%), hsl(350, 76%, 26%));
            }

            &.point-3 {
                background: linear-gradient(180deg, hsl(40, 91%, 65%), hsl(40, 76%, 26%));
            }
        }
        .choice {
            margin: 50px 0;
            #play {
                &.triangle {
                    position: relative;
                    width: fit-content;
                    margin: 20px auto;
                    & > img {
                        width: 280px;
                        height: 210px;
                        @include gd-screen-min {
                            width: 393px;
                            height: 318px;
                        }
                    }
                }

                .image-at-point {
                    position: absolute;
                    cursor: pointer;
                    div {
                        &:hover {
                            background: radial-gradient(hsl(0, 0%, 94%) 20%, hsl(66, 100%, 50%));
                            border-radius: 100%;
                            box-shadow:
                                inset 2px 4px 6px hsl(47, 24%, 34%),
                                2px 4px 6px hsl(0, 1%, 45%);
                            img {
                                filter: brightness(0.6);
                            }
                        }
                    }
                    &.point-1 {
                        top: $position;
                        left: $position;
                        @include gd-screen-min {
                            top: $position_screen;
                            left: $position_screen;
                        }
                    }

                    &.point-2 {
                        top: $position;
                        right: $position;
                        @include gd-screen-min {
                            top: $position_screen;
                            right: $position_screen;
                        }
                    }

                    &.point-3 {
                        bottom: $position;
                        left: calc(50% - calc(calc($size_point + calc($padding * 2)) / 2));
                        @include gd-screen-min {
                            bottom: $position_screen;
                            left: calc(50% - calc(calc($size_point_screen + calc($padding_screen * 2)) / 2));
                        }
                    }
                }
            }
        }
        .result {
            position: absolute;
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 100vw;
            z-index: -1;
            transition: opacity 200ms cubic-bezier();
            max-width: 800px;
            @include gd-screen-min {
                flex-direction: column;
            }
            &.actived {
                z-index: 99;
                opacity: 1;
            }
            &__title {
                margin: 20px;
                margin-top: 50px;
                text-align: center;
                opacity: 0;
                font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
                    Verdana, sans-serif;
                font-size: 16px;
                display: flex;
                flex-direction: column;
                span {
                    margin-bottom: 10px;
                    &:last-child,
                    &:first-child {
                        text-transform: uppercase;
                        font-weight: bold;
                        text-shadow: 0px 2px 3px #000;
                    }
                    &:nth-child(2) {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
                @include gd-screen-min {
                    flex-direction: row;
                    margin-top: auto;
                    margin-bottom: 50px;
                    font-size: 22px;
                    justify-content: center;
                }
                &.actived {
                    opacity: 1;
                }
            }
            &__button {
                margin-top: 50px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                position: relative;
                .left,
                .right,
                .loser {
                    position: relative;
                    width: calc($size_point * 2);
                    height: calc($size_point * 2);
                    @include gd-screen-min {
                        width: $size_point_screen;
                        height: $size_point_screen;
                    }
                    .image-at-point {
                        cursor: default;
                    }
                }
                .left,
                .right {
                    .image-at-point {
                        position: relative;
                    }
                    .point-99 {
                        position: absolute;
                    }
                }
                .center {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    opacity: 0;
                    &.actived {
                        opacity: 1;
                    }
                    button {
                        cursor: pointer;
                        padding: 10px 20px;
                        box-shadow:
                            2px 2px 0 #2f2d2d,
                            2px 2px 5px #000000;
                        &:hover {
                            box-shadow:
                                inset 2px 2px 0 #2f2d2d,
                                inset 2px 2px 5px #000000;
                        }
                    }
                }
                .loser {
                    position: absolute;
                    opacity: 0;
                    right: 50px;
                    .image-at-point {
                        position: absolute;
                        right: 50px;
                    }
                }
            }
        }
        .rules {
            margin: 50px 0;
            position: absolute;
            left: 50px;
            bottom: 50px;
        }
    }
}
