@function calculate-font-size($level) {
    @debug $level;
    $levelNumber: calc($level * 1);
    $calc: pow(1.5, $levelNumber - 1);
    $multipl: calc($base-size * $calc);
    @return calc($multipl * 1em);
}

@function calculate-letter-spacing($level) {
    $levelNumber: calc($level * 1);
    $diff: calc($base-spacing - $levelNumber);
    $max: max($diff, 1);
    @return calc($max * 1px);
}

@function calculate-font-size-mobil($level) {
    @debug $level;
    $levelNumber: calc($level * 1);
    $calc: pow(1.5, $levelNumber - 1);
    $multipl: calc($base-size-m * $calc);
    @return calc($multipl * 1em);
}

@function calculate-letter-spacing-mobil($level) {
    $levelNumber: calc($level * 1);
    $diff: calc($base-spacing-m - $levelNumber);
    $max: max($diff, 1);
    @return calc($max * 1px);
}
