@use "sass:color";
@use "sass:map";
@use "sass:math";

$color_p: 231;
$color_bk: 205;
$base-font-size: 18px;
$base-background: hsl($color_p, 47%, 17%);
$border-color: hsl($color_p, 10%, 50%);
$max-container-width: 800px;

// min screen
$size_point_screen: 80px;
$padding_screen: 33px;
$position_screen: calc(calc($size_point_screen / 2) * -1);
// $position_screen: calc(calc(calc($size_point_screen + calc($padding_screen * 2)) / 2) * -1);

// mobile
$size_point: 50px;
$padding: 28px;
$position: calc(calc($size_point / 2) * -1);
// $position: calc(calc(calc($size_point + calc($padding * 2)) / 2) * -1);

$breakpoints: (
  pt-mobil-max: 399px,
  mobil-max: 499px,
  tablet-min: 500px,
  tablet-max: 599px,
  gd-tablet-min: 600px,
  gd-tablet-max: 767px,
  pt-screen-min: 768px,
  pt-screen-max: 1049px,
  gd-screen-min: 1050px,
  very-gd-screen-min: 1205px
);
$orientation: (
  paysage: landscape,
  portrait: portrait
);

$text-shadow-values: ();
/* contour */

@for $i from 1 through 2 {
  $text-shadow-values: append($text-shadow-values, 0 0 4px hsl(0, 100%, 18%), comma);
}
/* relief */
@for $i from 1 through 7 {
  $lightnessNum: 73 - ($i * 2);
  $text-shadow-values: append(
    $text-shadow-values,
    #{$i * 0.5}px #{($i + 2) * 1}px 0 hsl($color_p, 26%, $lightnessNum * 1%),
    comma
  );
}

/* ombre */
@for $i from 1 through 4 {
  $alphaNum: 0.5 - ($i * 0.1);
  $text-shadow-values: append(
    $text-shadow-values,
    8px #{7 + ($i * 5)}px #{5 + ($i * 5)}px hsla(0, 0%, 0%, $alphaNum),
    comma
  );
}

$base-size: 3; // Taille de police de base pour h1
$base-spacing: 6; // Espacement de base

$base-size-m: 2; // Taille de police de base pour h1
$base-spacing-m: 4; // Espacement de base

$saturationVibrant: 80 * 1%;
$lightnessVibrant: 50 * 1%;
$saturationPastel: 100 * 1%;
$lightnessPastel: 80 * 1%;

$colors_pastel: (
  "default": rgb(211, 211, 211),
  "red": hsl(0, $saturationPastel, $lightnessPastel),
  "blue": hsl(240, $saturationPastel, $lightnessPastel),
  "yellow": hsl(60, $saturationPastel, $lightnessPastel),
  "green": hsl(120, $saturationPastel, $lightnessPastel),
  "black": hsl(0, 0%, 50%),
  "brown": hsl(30, $saturationPastel, $lightnessPastel),
  "purple": hsl(270, $saturationPastel, $lightnessPastel),
  "gray": hsl(0, 0%, $saturationPastel),
  "white": hsl(0, 0%, 90%),
  "pink": hsl(330, $saturationPastel, $lightnessPastel)
);

$colors_vibrant:
  "default" rgb(245, 242, 242),
  "red" hsl(0, $saturationVibrant, $lightnessVibrant),
  "blue" hsl(240, $saturationVibrant, $lightnessVibrant),
  "yellow" hsl(60, $saturationVibrant, $lightnessVibrant),
  "green" hsl(120, $saturationVibrant, $lightnessVibrant),
  "black" hsl(0, 0%, 0%),
  "brown" hsl(30, $saturationVibrant, 30%),
  "purple" hsl(270, $saturationVibrant, $lightnessVibrant),
  "gray" hsl(0, 0%, $lightnessVibrant),
  "white" hsl(0, 0%, 100%),
  "pink" hsl(330, $saturationVibrant, $lightnessVibrant);
